{% spaceless %}
<div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">All files <span id="month"> </span></div>
            <div id="all" class="h5 mb-0 font-weight-bold text-gray-800">{{ tray.all_files }}</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-file-pdf fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-warning shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Unavailable files <span id="month"> </span></div>
            <div id="unavailable" class="h5 mb-0 font-weight-bold text-gray-800">{{ tray.unavailable }}</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-file-pdf fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Successfully converted <span id="month"> </span></div>
            <div id="successful_files" class="h5 mb-0 font-weight-bold text-gray-800">{{ tray.converted_files }}</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-file-pdf fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-danger shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div><a class="text-xs font-weight-bold text-danger text-uppercase mb-1" href="#">Failed processing <span id="month"> </span> </a></div>
            <div id="errored_files" class="h5 mb-0 font-weight-bold text-gray-800">{{ tray.failed_files }}</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-file-pdf fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endspaceless %}